In [ ]:
                                       #  Assignment

In [1]:
#Q1. Create one variable containing following type of data:
#(i) string
#(ii) list
#(iii) float
#(iv) tuple

In [2]:
 data = [2,3,4,5,6,7, "sonu" , 653, 65.35 ,(1,2,3,4)]

In [3]:
data

[2, 3, 4, 5, 6, 7, 'sonu', 653, 65.35, (1, 2, 3, 4)]

In [6]:
data[6:7]

['sonu']

In [7]:
type("sonu")

str

In [8]:
type(data)

list

In [9]:
data[8:9]

[65.35]

In [11]:
type(65.35)

float

In [13]:
data[9:10]

[(1, 2, 3, 4)]

In [15]:
type[(1,2,3,4)]

type[1, 2, 3, 4]

In [17]:
#Q2. Given are some following variables containing data:
#(i) var1 = ‘ ‘
#(ii) var2 = ‘[ DS , ML , Python]’
#ii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
#iv) var4 = 1.

In [22]:
# Answer

In [23]:
copy = 'sonu'

In [24]:
type(copy)

str

In [25]:
(ii) copy1 = '[ ds, ml, python]'

In [26]:
type(copy1)

str

In [27]:
(iii) copy2 = ['ds', 'ml', 'python' ]

In [28]:
type(copy2)

list

In [ ]:
(iv) copy3 = 1.

In [31]:
type(copy3)

NameError: name 'copy3' is not defined

In [32]:
# Q3. Explain the use of the following operators using an example:
# (i) /
# (ii) %
# (iii) //
# (iv) **

In [33]:
(i)a = 4
   b =8

In [36]:
result = 4/8

In [40]:
 a = 10
 b = 3
result = 10%3

In [41]:
a = 10 
b = 3 
result = a // b

In [42]:
 r = 10//3

In [43]:
base = 2 
exponent = 3 
result = base ** exponent

In [44]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
# element and its data type.

In [48]:
my_list = [ 10, "hello" ,3.16 , True , [1,2,3], {"sonu": "rajiv", "krishna": 45}, None , ('a' , 'b', 'c'), False, 6.6]

for element in my_list:
    print("Element :" , element)
    print("data type :", type (element))
    print()

Element : 10
data type : <class 'int'>

Element : hello
data type : <class 'str'>

Element : 3.16
data type : <class 'float'>

Element : True
data type : <class 'bool'>

Element : [1, 2, 3]
data type : <class 'list'>

Element : {'sonu': 'rajiv', 'krishna': 45}
data type : <class 'dict'>

Element : None
data type : <class 'NoneType'>

Element : ('a', 'b', 'c')
data type : <class 'tuple'>

Element : False
data type : <class 'bool'>

Element : 6.6
data type : <class 'float'>

In [49]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
# times it can be divisible.

In [51]:
A = 24 
B = 3


count = 0 


while A % B == 0 :
    A = A / B 
    count += 1
print ("number of times ", B, "divides", A, "is", count)

number of times  3 divides 8.0 is 1

In [52]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
# divisible by 3 or not.

In [53]:
my_list = [8, 15, 12, 9, 7, 24, 5, 18, 21, 6, 10, 16, 27, 33, 30, 11, 20, 14, 25, 22, 13, 19, 17, 28, 36]

for element in my_list:
    if element % 3 == 0:
        print(element, "is divisible by 3")
    else:
        print(element, "is not divisible by 3")

8 is not divisible by 3
15 is divisible by 3
12 is divisible by 3
9 is divisible by 3
7 is not divisible by 3
24 is divisible by 3
5 is not divisible by 3
18 is divisible by 3
21 is divisible by 3
6 is divisible by 3
10 is not divisible by 3
16 is not divisible by 3
27 is divisible by 3
33 is divisible by 3
30 is divisible by 3
11 is not divisible by 3
20 is not divisible by 3
14 is not divisible by 3
25 is not divisible by 3
22 is not divisible by 3
13 is not divisible by 3
19 is not divisible by 3
17 is not divisible by 3
28 is not divisible by 3
36 is divisible by 3

In [54]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing
# this property.

In [57]:
# immutable data types are those whose values cannot be modified once they are created.
# Any operation that appears to modify an immutable data type actually creates a new value.

In [58]:
# mutable data types are those that can be modified after they are created.
# Operations on mutable data types can directly modify the value without creating a new object.

In [ ]:
immutable

In [60]:
string = "Hello"
print(string)  # Output: Hello

string = string + " World"
print(string)

Hello
Hello World

In [ ]:
mutable

In [ ]:
my_list = [1, 2, 3]
print(my_list)  # Output: [1, 2, 3]

my_list.append(4)
print(my_list)  

my_list[0] = 5
print(my_list)